[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
pytest = "*"
coverage = "*"
faker = "*"
factory-boy = "*"
django-countries = "*"
six = "*"
stripe = "*"
django-mptt = "*"
django-debug-toolbar = "*"
paypal-checkout-serversdk = "*"

[dev-packages]

[requires]
python_version = "3.10"
