{% extends "../base.html" %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}

<div class="container" style="max-width: 1000px">
  <div class="col-12">
    <h1 class="h2">{{ category.name|title }}</h1>
  </div>
  <div class="col-12 d-flex justify-content-between">
    <div><b>Popular</b> products purchased</div>
  </div>
  <hr />
</div>
<div class="container">
  <div class="row">
    <div class="album">
      {% if not products %}
      <div class="col-12">There are currently no products active <a href="{% url 'store:store_home' %}">Home</a></div>
      {% else %}
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
        {% for product in products %}
          <div class="col">
            <a class="text-dark text-decoration-none home_block_product" href="{{ product.get_absolute_url }}">
              <div class="card shadow-sm home_block_main_product">
                {% for image in product.product_image.all %}
                  {% if image.is_feature%}
                    <img class="img-fluid" alt="Responsive image" src="{{ image.image.url }}">
                  {% else %}
                    <img class="img-fluid" alt="Default image" src="../../static/media/default_image.png">
                  {% endif %}
                {% endfor %}
                <div class="card-body">
                  <p class="card-text">
                   {{ product.title }}
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">Price: {{product.regular_price}}€</small>
                  </div>
                </div>
                <div class="home_block_details">
                    <a href="{{ product.get_absolute_url }}" class="btn btn-outline-dark">More Details</a>
                </div>
                <div class="home_block_wishlist">
                    <a href="{% url 'account:user_wishlist' product.id  %}" class="btn btn-light fw900" role="button" aria-disabled="true">Add to Wish List</a>
                </div>
              </div>
            </a>
          </div>
      </div>
    </div>
        {% endfor %}

      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}